.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 100px;
  width: 100%;
  height: 80px;
  background-color: var(--yellow-color);
  color: var(--white-color);

  &__wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15pt;

    a {
      text-decoration: none;
      color: var(--white-color);

      &:hover {
        text-decoration: underline;
      }
      .logo {
        width: 250px;
      }
    }
  }
}
